* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis";
}
:root {
  --font-green-color: #008b57;
  --background-color: #22ac78;
}
/* General */
.green-bg {
  background: var(--background-color);
}
.light-green-bg {
  color: var(--background-color);
}
.text-gr {
  color: var(--font-green-color);
}
.h-60px {
  height: 80px;
}
.lh-60px {
  line-height: 80px;
}
.wd-250px {
  width: 250px;
}
.filter-bg,
.sub-nav-bg,
.footer-bg {
  background: #008452;
}
.fs-14px {
  font-size: 14px;
}
.custom-shadow {
  box-shadow: 0px 0px 50px #e6e6e6;
}
.special-bg {
  background-color: #dafbfa;
}
.text-special {
  color: #06f299;
}
.navigation-2 {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 1;
}
/* End General */

.price-filter-input::-webkit-slider-runnable-track {
  background: #adffe0;
  border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #008452;
  border-radius: 50%;
}
.filter-scroll {
  height: 800px;
  overflow: scroll;
  overflow-x: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 110px;
  border-radius: 10px; /* Border radius cho "thanh nằm trong" thanh cuộn */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #a3cfbb;
  border-radius: 10px; /* Border radius cho thanh cuộn */
}
::-webkit-scrollbar-thumb {
  background-color: #008452;

  border-radius: 10px; /* Border radius cho "thanh nằm trong" thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00613c;
  cursor: pointer;
}
.name-value {
  color: #424242;
}
.name-value .filter-btn-color:hover,
.filter-btn-fur:hover,
.filter-btn-size:hover,
.filter-btn-fur-loss:hover,
.filter-btn-price:hover {
  cursor: pointer;
}
.price-value {
  font-family: "Roboto";
}
/* hover product items */
.col-9 .product-item img {
  transition: 0.75s;
}
.col-9 .product-item:hover img {
  transform: scale(1.1);
}
